# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env
backend/.env
backend/migrate.py
# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# SQLite
*.sqlite3

# Node Modules
node_modules/

# Build files
dist/
build/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

#UI/UX
frontend/UI-UX/